<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
      
      
          
      <div style="padding-top: 25px;" class="container">
        <h1 style="padding-bottom: 20px;">Course Index</h1>
              <table>
                <tr>
                  <th>Course Name</th>
                  <th>Course ID</th>
                  <th>Course Code</th>
                  <th>Course Details</th>
                  <th>Credits</th>
                  <th>Edit/Delete Course</th>
                </tr>
              
          
            
            <% courses.forEach(course => { %>
                
              <tr>
                <td><h3 class = "courseTitle"><%= course.courseTitle %></h3></td>
                <td><p class = "courseID"> <%= course.id %></p></td>
                <td><p class = "subjectArea"><%= course.subjectArea %></p></td>
                <td><a class="single" href="/courses/<%= course._id %>"><p class = "courseDetails">View Details</a></td>
                <td><p class = "creditHours"> <%= course.credits  %></p></td>
                
                <td>
                  
                  <form class="form-events" action="/delete" method="post">
                    <div class ="button">
                      <a href="/allCourses" class="delete btn"></a>
                      <button name="deleteBtn" value="<%=course._id%>" type="submit" class="btn btn-danger">Delete</button>
                    </div>
                    
                </form>
                
                </td>
              </tr>
               
            <% }) %> 
            
          </table>
          </div>
        

        <%- include("./partials/footer.ejs") %>

          
    </body>

</html>