<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

          

                        <div class="container">
      <h1>Course Index</h1>
      <table>
        <tr>
          <th>Course Name</th>
          <th>Course Code</th>
          <th>Teacher Name</th>
          <th>Course Details</th>
          <th>Edit/Delete Course</th>
        </tr>
        <tr>
          <td>Introduction to Computer Science</td>
          <td>CS101</td>
          <td>John Smith</td>
          <td><a href="#" class="change-link">View Details</a></td>
          <td>
            <a href="#edit_course" class="change-link">Edit Course/</a
            ><a href="#delete_course" class="change-link">Delete Course</a>
          </td>
        </tr>
        <tr>
          <td>Calculus I</td>
          <td>MATH101</td>
          <td>Jane Doe</td>
          <td><a href="#" class="change-link">View Details</a></td>
          <td>
            <a href="#edit_course" class="change-link">Edit Course/</a
            ><a href="#delete_course" class="change-link">Delete Course</a>
          </td>
        </tr>
        <!-- Additional rows for other courses -->
      </table>
      </div>
      
          <h2>All Courses</h2>
            <% courses.forEach(course => { %>
                <!-- <a class="single" href="/courses/<%= course._id %>"> -->
                <h3 class = "courseTitle"><%= course.courseTitle %></h3>
                <p class = "subjectArea"><%= course.subjectArea %></p>
                <p class = "creditHours">Credits: <%= course.credits  %></p>
                </a>
            <% }) %> 

           
       
        

        <%- include("./partials/footer.ejs") %>
    </body>

</html>